[[define "change_password_first"]]


<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>CNSA CONCERT</title>
  <link rel="stylesheet" href="assets/css/login.css?ver=1 ">
  <script src="assets/js/change.js?ver=1">


  </script>



</head>

<body>
        <form method="POST" action="/api/changePasswordFirst">
  <div class="all-wrapper">
    <div class="background">

    </div>
    <div class="background2">

    </div>
    <div class="background3">

    </div>
    <div class="backgroun4">

    </div>


      <div class="left-wrapper">
        <div style="font-size:60px;text-align:center;color:black;font-family:'SangSangFlowerRoad';">
          봄, 여름, 가을, 그리고 겨울<br>CNSA와 함께
        </div>
        <div style="margin-top:40px;font-size:40px;text-align:center;font-family:'DX L';">
          2019 6th CNSA CONCERT-Four Seaonsons
        </div>
       


      </div>
      <div class="right-wrapper">
      <div class="bg1">
        <div id="card">


        <div id="front">
          <div class="title">
            <span style="color:#0034AE;">큰사</span> 콘서트
          </div>
          <div class="title2">

          </div>
          <table id="table">
            <tr>
              <td colspan="4" style="height:13px;"></td>
            </tr>
              <td>들</td>
              <td>어</td>
              <td>가</td>
              <td>기</td>
            <tr>

            </tr>
          </table>
          <input type="text" id="textbox1" placeholder="학번" method="post"></input>
          <input type="password" id="textbox2" placeholder="비밀번호" method="post"></input>


          <div id="login-button">
            <span>
            예매하기
          </span>
          </div>
        </div>
        <div id="back">
          <div class="title" id="logo">
            <span style="color:#0034AE;">큰사</span> 콘서트
          </div>
          <div class="title2" id="logo2">

          </div>

          <input type="password" id="password-textbox2" placeholder="새 비밀번호" method="post" name="newPassword">
            <div id="show">
              <div id="img" class="showimg">

              </div>
            </div>
          </input>
          <input type="password" id="password-textbox3" placeholder="새 비밀번호 확인" method="post" name="newPasswordCheck">
          <div id="show2">
            <div id="img2" class="showimg">

            </div>
          </div>

          </input>
          <p id="warning">비밀번호가 일치하지 않습니다!</p>
        <button type="submit" id="change-button">
            변경하기
        </button>

        <p id="p">※ 계정 도용 방지를 위해 반드시 비밀번호를 변경해주세요.<br>

        비밀번호 미변경으로 인한 계정 도용 사례의 책임은 본인에게 <br>
        있으니 절대 다른 사람에게 계정을 알려주지 마십시오.
        </p>

        </div>



      </div>



      </div>

      <div class="bg2">
        <div class="circle">

        </div>
        <div id="open" >
          open
        </div>
      </div>
      <div class="bg3">

      </div>


</div>
</div>
</form>
</body>


</html>
[[end]]