[[define "change_password"]]
<form method="POST" action="/api/changePassword">
    <!DOCTYPE html>
<html>
  <head>

    <title>CNSA CONCERT</title>
    <link rel="stylesheet" href="assets/css/changePW.css?ver=1">
    
    <script src="assets/js/chPW.js"></script>
  </head>
  <body>
        <div class="navbar" style=" width: 1920px; height: 80px;margin-bottom:0px;position:relative; z-index: 3;">
          <a href="/"><div style="width: 50px; height: 50px; background-image:url(/assets/img/CNSA_logo.png); margin-left: 20px; margin-right: 40px;  margin-top: 13px; float: left;"></div></a>
                <div class="nav_a"><a href="/changePassword">비밀번호 변경</a></div>
                <div class="nav_a"><a href="/reserve">예약</a></div>
                <div class="nav_a"><a href="/checkReserve">예약확인</a></div>
                <div class="nav_a" style="margin-right: 860px" ><a href="/aboutUs">About us</a></div>
                <div class="nav_a"><a href="/" style="color: #FFF2AE">HOME</a></div>
                <div class="nav_a"><a href="/logout">로그아웃</a></div>
            </div>
            <div class="background1"></div>
            <div class="background2"></div>
            <div class="background3"></div>
            <div style="position: absolute; height: 1000px;overflow: hidden;">
    <div class="PWcard">
      <div class="pw-title">
        비밀번호 변경하기
      </div>
      
    
    <input type="password" id="password-textbox1" placeholder="기존 비밀번호" method="post" name="password">
            <div id="show3">
              <div id="img3" class="showimg">

              </div>
            </div>
          </input>
    <input type="password" id="password-textbox2" placeholder="새 비밀번호" method="post" name="newPassword">
            <div id="show">
              <div id="img" class="showimg">

              </div>
            </div>
          </input>
          <input type="password" id="password-textbox3" placeholder="새 비밀번호 확인" method="post" name="newPasswordCheck">
          <div id="show2">
            <div id="img2" class="showimg">

            </div>
          </div>

          </input>
          <p id="warning">새 비밀번호가 일치하지 않습니다!</p>
        <button type="submit" id="change-button">
            변경하기
        </button>
        <p id="p">※ 계정 도용 방지를 위해 반드시 비밀번호를 변경해주세요.<br>
          초기 비밀번호는 학번입니다.<br>
          비밀번호 미변경으로 인한 계정 도용 사례의 책임은 본인에게 <br>
          있으니 절대 다른 사람에게 계정을 알려주지 마십시오.
          </p>
    </div>
    </div>
  </body>
</html>

    
</form>
[[end]]