[[define "index"]]
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/main.css?ver=1">
    <title></title>
  </head>
  <body>
    <div class="navbar" style=" width: 1920px; height: 80px; background-color: #8694EC;margin-bottom:0px;position:relative;">
      <a href="/"><div style="width: 50px; height: 50px; background-image:url(/assets/img/CNSA_logo.png); margin-left: 20px; margin-right: 40px;  margin-top: 13px; float: left;"></div></a>
      <div class="nav_a"><a href="/changePassword">비밀번호 변경</a></div>
      <div class="nav_a"><a href="/reserve">예약</a></div>
      <div class="nav_a"><a href="/checkReserve">예약확인</a></div>
      <div class="nav_a" style="margin-right: 860px"><a href="/aboutUs">About us</a></div>
      <div class="nav_a"><a href="/" style="color: #FFF2AE">HOME</a></div>
      <div class="nav_a"><a href="/logout">로그아웃</a></div>
  </div>
  
    <div class="wrapper">
      <div class="image-card"><img src="assets/img/main1.JPG"></div>
      <div class="image-card"><img src="assets/img/main2.JPG"></div>
      <div class="image-card"><img src="assets/img/main3.JPG"></div>
      <div class="image-card"><img src="assets/img/main4.JPG"></div>
      <div class="image-card"><img src="assets/img/main5.JPG"></div>
      <div class="image-card"><img src="assets/img/main6.JPG"></div>
      <div class="sidebar">

      </div>
      <div class="sidebar2">
        CNSA<br>CONCERT
      </div>
      <div class="sidebar3">
        November 29, 2019
      </div>

      </div>
      <div class="explain-container">
        <div class="mainimg o">
          <img src="/assets/img/maincard1.JPG" style="width:100%;height:100%;"> 
        </div>
        <div class="intext" style="margin-left:250px;float:left;width:650px;">
          <p style="font-size: 70px;
          color:#0034AE;">열정의 집합, 그 표출의 순간</p>
          <p style="font-size: 40px;color:#0034AE;">충남삼성고등학교 학생들은 <br />CNSA CONCERT를 통해
            <br />  그 동안 갈고 닦은 실력을<br />
            많은 사람들 앞에서 표출합니다</p>
        </div>
      </div>
      <div class="explain-container" style="background-color:#F0F5FF;">
        <div class="mainimg t">
          <img src="/assets/img/maincard2.JPG" style="width:100%;height:100%;"> 
        </div>
        <div class="intext" style="margin-right:250px;float:right">
          <p style="font-size: 80px;
          color:#0034AE;">예술적 소양을 기르다</p>
          <p style="font-size: 40px;color:#0034AE;">
            충남삼성고등학교 학생들은 1인1기를 통해<br />
					자신만의 특기로 음악적 소양을 기르며<br />
					미래의 융합적 인재로 커 나갈 준비를 해나가고 있습니다.
        </div>
      </div>
      <div class="explain-container">
        <div class="mainimg o">
          <img src="/assets/img/maincard3.JPG" style="width:100%;height:100%;"> 
        </div>
        <div class="intext" style="margin-left:250px;float:left">
          <p style="font-size: 80px;
          color:#0034AE;">모두가 하나 되는 순간</p>
          <p style="font-size: 40px;color:#0034AE;">
            충남삼성고등학교 학생들은<br> CNSA CONCERT를 통해<br>
            함께 힘을 합쳐 연주하고<br />
            음악으로 하나됩니다.
        </div>
      </div>
      <div class="explain-container" style="background-color:#F0F5FF;">
        <div class="mainimg t">
          <img src="/assets/img/maincard4.JPG" style="width:100%;height:100%;">  
        </div>
        <div class="intext" style="margin-right:250px;float:right">
          <p style="font-size: 70px;
          color:#0034AE;">잊지 못할 또 하나의 추억</p>
          <p style="font-size: 40px;color:#0034AE;">
            충남삼성고등학교 학생들은<br> CNSA CONCERT를 통해<br>
            그 동안 갈고 닦은 실력을 뽐내고<br />
            음악적 교양을 길러 나아가고 있습니다.
        </div>
    </div>
  </body>
</html>

[[end]]