[[define "reserve_cn"]]
<!DOCTYPE html>
<html>
<!--<head runat="server">-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>CNSA CONCERT</title> 
    
    <link rel="stylesheet" type="text/css" href="/assets/css/btn.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/reserve.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/tri.css?ver=1" />
    <link rel="stylesheet" type="text/css" href="/assets/css/seat.css" />
    <!-- JQuery -->
    <script src="/assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>


    <style type="text/css"> 
        a { text-decoration:none ;color: white; font-size: 20px; font-family: Microsoft YaHei UI;} 
    </style> 
    

</head>
<body>

<div style="width: 1920px; height: 1080px">


 <div style="width: 1920px; height: 80px; position: relative;">   

    <div class="navbar" style=" width: 1920px; height: 80px; background-color: #8694EC;margin-bottom:0px;position: relative;">
        <a href="/"><div style="width: 50px; height: 50px; background-image:url(/assets/img/CNSA_logo.png); margin-left: 20px; margin-right: 40px;  margin-top: 13px; float: left;"></div></a>
        <div class="nav_a"><a href="/changePassword">비밀번호 변경</a></div>
        <div class="nav_a"><a href="/reserve">예약</a></div>
        <div class="nav_a"><a href="/checkReserve">예약확인</a></div>
        <div class="nav_a" style="margin-right: 860px"><a href="/aboutUs">About us</a></div>
        <div class="nav_a"><a href="/" style="color: #FFF2AE">HOME</a></div>
        <div class="nav_a"><a href="/logout">로그아웃</a></div>
    </div>
    
    <!--삼각형 배경--> 
    <div style="width: 1920px; height: 1000px; position: relative;overflow: hidden;top:-25px;">
        <div class="background1"></div>
        <div class="background2"></div>
        <div class="background3"></div>
        
            
            
           


    <div style="width: 1920px; height: 1000px; position: absolute;"> 
    <!--박스1-->
    <div style="float: left">
    <div class="CNSA">CN</div>
        <br/>
      <div style="margin-left: 50px; margin-top: 250px"> 
        <div class="blue_box1">

         <div class="box1">
           <div style="margin-left: 30px; margin-top: 20px"> 
            
          
           <div style="width: 400px; height: 60px;">
            <div class="blue_line" style="margin-left: 15px"></div>
            <div class="box1_text">주의사항</div>
            <div class="blue_line" style="margin-right: 15px"></div>
           </div>
            
              <div style="margin-top: 12px; margin-left: 30px; font-family: 나눔바른펜; font-size: 20px">
				<div>주의사항은 다음과 같습니다.</div>
				<div>본인만이 본인 좌석을 선택할 수 있으며</div>
				<div>타 학생의 개인정보를 이용하여 좌석</div>
                <div>예약시 불이익이 있을 수 있습니다.</div>
              </div>  

            </div>
          </div>      
         </div>
        </div>
       </div>

    <!--박스2-->
    <div class="box2_tu">
        <div class="box2_text" style="margin-left: 30px; margin-bottom: 15px">좌석 선택</div>

        <div style="margin-top: 20px"> 
        <div class="blue_box2">

        <div class="box2">
       
            
        <div style="margin-top: 45px;">  
           

        <div style="margin-left: 65px; height: 10px">
            <div class="seat_num1">1</div>
            <div class="seat_num1">2</div>
            <div class="seat_num1">3</div>
            <div class="seat_num1">4</div>
            <div class="seat_num1">5</div>
            <div class="seat_num1">6</div>
            <div class="seat_num1">7</div>
            <div class="seat_num1">8</div>
            <div class="seat_num1">9</div>
            <div class="seat_num2">10</div>
            <div class="seat_num2">11</div>
            <div class="seat_num2">12</div>
            <div class="seat_num2">13</div>
            <div class="seat_num2">14</div>
            <div class="seat_num2">15</div>
            <div class="seat_num2">16</div>
            <div class="seat_num2">17</div>
            <div class="seat_num2">18</div>
        </div>


            <br/>
        <div style="float: left; width: 5px; margin-left: 45px; margin-top: -12px"> 
            <div class="seat_eng" style="margin-top: 10px">C</div> 
            <div class="seat_eng" style="margin-bottom: 15px">D</div>
            <div class="seat_eng" style="margin-bottom: 15px; margin-top: 16px">E</div>
            <div class="seat_eng" style="margin-top: 15px; margin-bottom: 16px">F</div>
            <div class="seat_eng" style="margin-bottom: 16px; margin-top: 16px">G</div>
            <div class="seat_eng" style="margin-bottom: 16px">H</div>
            <div class="seat_eng" style="margin-bottom: 16px">I</div>
            <div class="seat_eng" style="margin-bottom: 16px">J</div>
            <div class="seat_eng" style="margin-bottom: 14px">K</div>
            <div class="seat_eng" style="margin-top: 14px">L</div>
            <div class="seat_eng" style="margin-bottom: 17px">M</div>
            <div class="seat_eng" style="margin-bottom: 16px">N</div>
            <div class="seat_eng" style="margin-bottom: 16px">O</div>
            <div class="seat_eng">P</div>
            <div class="seat_eng" style="margin-bottom: 15px">Q</div>
            <div class="seat_eng" style="margin-bottom: 16px">R</div>
            <div class="seat_eng" style="margin-bottom: 16px">S</div>
            <div class="seat_eng">T</div>  
            <div class="seat_eng">U</div>   
        </div>
     

              
     <div style="margin-left: 65px; margin-top: 45px; top: 0; position: absolute">  
        <script>
            var seat_row = new Array(), seat_col = new Array();
            var cnt = 0;
            seat_row[0] = 1;
            for (i = 3; i <= 20; i++) {
                document.write("</br>");
                for (j = 1; j <= 18; j++) { 			
                    document.write("<button type=\"submit\" id=\"" + i +"-" + j + "\" class=\"btn\" onclick=\"selectSeat(" + i +"," + j+ ")\")></button>");          
                }
            }
            $.get("/api/getApplys?class=CN", function(applys) {
                applys.forEach(function (apply) {
                    $("#" + apply.row+"-"+apply.col).prop("disabled", true);
                });
            });   
        </script>
        </br>


        <script>
          var i, j;
          for (i = 1; i <= 1; i++) {
              for (j = 1; j <= 6; j++) { 		
                  document.write("<div style=\"width: 30px; height: 30px; margin: 3.5px; float: left;\"><img src=\"/assets/img/seat_x.png\" style=\"width: 100%; height: 100%\"></div>");          
              }
          }
        </script>
         
        <button type="submit" class="btn" style="float: left;" id="21-7" onclick="selectSeat(21, 7)"></button>
        <button type="submit" class="btn" style="float: left;" id="21-8" onclick="selectSeat(21, 8)"></button>
        <button type="submit" class="btn" style="float: left;" id="21-9" onclick="selectSeat(21, 9)"></button>
        <button type="submit" class="btn" style="float: left;" id="21-10" onclick="selectSeat(21, 10)"></button>
        <button type="submit" class="btn" style="float: left;" id="21-11" onclick="selectSeat(21, 11)"></button>
        <button type="submit" class="btn" style="float: left;" id="21-12" onclick="selectSeat(21, 12)"></button>
        <button type="submit" class="btn" style="float: left;" id="21-13" onclick="selectSeat(21, 13)"></button>
        <button type="submit" class="btn" style="float: left;" id="21-14" onclick="selectSeat(21, 14)"></button>
        <button type="submit" class="btn" style="float: left;" id="21-15" onclick="selectSeat(21, 15)"></button>
        <button type="submit" class="btn" style="float: left;" id="21-16" onclick="selectSeat(21, 16)"></button>
        <button type="submit" class="btn" style="float: left;" id="21-17" onclick="selectSeat(21, 17)"></button>
        <button type="submit" class="btn" style="float: left;" id="21-18" onclick="selectSeat(21, 18)"></button>

        </div>


        </div>
        <script>
            function selectSeat(row, col) {
                document.getElementById("class").value = 'CN'
                document.getElementById("row").value = row;
                document.getElementById("col").value = col;
                
                document.getElementById("reservation").innerText = 'CN-'+String.fromCharCode(64 + row) + "-" + (col < 10 ? "0" + col : col);
            }
        </script>
        </div>
    </div>
    </div>
    </div>
    

       

    <div class="box3_tu">

            <div class="box2_text" style="margin-left: 140px; margin-bottom: 10px">좌석 정보</div>

            <div class="white_box">
                <div style="height: 15px"></div>
                <div id="reservation" style="font-family: HYHeadLine; font-size: 35px;  color: #8694EC;text-align: center;"></div>
            </div>
                
            
            <div class="box3" style="height: 490px;">
              <div style="width: 200px; height: 180px; margin-left: 40px; margin-top: 80px; float: left; background-color: t">  
                <div class="blue_pen" style="width: 95px"></div>
                <div class="blue_pen_text">예약자 정보</div>    

               <div style="width: 170px; height: 400px; float: left; margin-top: 10px;">
                    <div class="blue_pen_text_s">이름</div>
                    <div class="black_pen_text_s">[[index . "name"]]</div>
                    <br/>

                    <div class="blue_pen_text_s">학번</div>
                    <div class="black_pen_text_s">[[index . "studentNumber"]]</div>
                    <br/>

                    <div class="blue_pen_text_s">예약날짜</div>
                    <div class="black_pen_text_s">2019.11.29</div>



              
               <div style="width: 150px; height: 200px; float: left; margin-top: 10px;">
                



                <div class="blue_pen" style="width: 75px; margin-top: 70px"></div>
                <div class="blue_pen_text">안내사항</div>

                <div style="width: 250px; height: 100px; float: left; margin-top: 10px">
                        <div class="gray_pen_text_s" >
                                CNSA CONCERT 2019 <br/>
                                장소 : 충남삼성고등학교 충무관 <br/>
                                일시 : 2019년 11월 29일 19시 20분 <br/>
                                티켓을 지참하셔야 출입이 가능합니다.</div>
                </div>
      
              </div>
             </div>
            </div>


            <div style="width: 545px; height: 10px;">
            
                    <div style="transform: rotate(90deg); float: right; margin-top: -50px; text-align: center">
                            <div class="trans_bt">CNSA CONCERT 2019</div>
                            <div class="trans_gt">SPRING, SUMMER, FALL, AND WINTER</div>
                        </div>
            
            </div>
            </div>
    
            
        <form method="post" action="/api/apply">
            <button type="submit" class="btn_reserve">
            
              <div class="box4_tu"> 
                
                    
                        <input type="hidden" id="row" name="row" />
                        <input type="hidden" id="col"  name="col" />
                        <input type="hidden" id="class" name="class" />
            
                            <div class="gray_pen_text_s">
                                예약 완료 시 좌석 변경이 불가능합니다<br/>
                                좌석을 다시 한 번 확인해주세요</div>
                           <div style="font-family: 'SangSangFlowerRoad'; font-size: 40px; margin-top: 10px; color: #787878;">예약하기</div>
                     
              </div>     
            </div>
            </button> 
            
        </form>
        </div>
    </div> 
 </div>
</div>



</div>


</body>
</html>
[[end]]