[[define "success"]]
<!DOCTYPE html>
<html>
  <head>
  
    <title></title>
    <link rel="stylesheet" href="assets/css/success.css?ver=1">
    <script src="assets/js/success.js"></script>

  </head>
  <body>
    <div class="navbar" style=" width: 1920px; height: 80px;margin-bottom:0px;position:relative; z-index: 3;">
      <a href="/"><div style="width: 50px; height: 50px; background-image:url(/assets/img/CNSA_logo.png); margin-left: 20px; margin-right: 40px;  margin-top: 13px; float: left;"></div></a>
            <div class="nav_a"><a href="/changePassword">비밀번호 변경</a></div>
            <div class="nav_a"><a href="/reserve">예약</a></div>
            <div class="nav_a"><a href="/checkReserve">예약확인</a></div>
            <div class="nav_a" style="margin-right: 860px" ><a href="/aboutUs">About us</a></div>
            <div class="nav_a"><a href="/" style="color: #FFF2AE">HOME</a></div>
            <div class="nav_a"><a href="/logout">로그아웃</a></div>
        </div>
<div class="wrapper">


      <div class='wave -one'></div>
      <div class='wave -two'></div>
      <div class='wave -three'></div>
      <div class="background">
    
      </div>
      <div class="check">
        좌석 예약이 완료되었습니다!
        <br>사계절과 함께하는 큰사콘서트, 기대해주세요!
      </div>
    </div>
</body>
</html>
[[end]]